@paleBlue: #ccccff;
body{
  background-color: #333333;
  x-overflow:hidden;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "brandon-grotesque",sans-serif;

}
.container {
  background-image: url('../img/container_bg2.jpg' );
  background-repeat: no-repeat;
  background-color: black;
  //  font-family: Baskerville, Georgia, serif;
  letter-spacing: .05em;
  color: @paleBlue;

}

a {
  color: rgb(115, 115, 255);
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;

}

a:hover {
  background-color: @paleBlue;
  color: black;
  text-decoration: none;

}



.contactRow {
  font-family: "rosewood-std-fill",sans-serif;
  margin-top: 15px;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  font-family: "rosewood-std-fill",sans-serif;
  font-size: 5em;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid @paleBlue;
  border-bottom: 1px dashed @paleBlue;
  //  text-transform: uppercase;
  //  font-variant: small-caps;

}


#logoText {
  font-size: 5em;
  color: white;
  text-align: center;
}

.firstcharacter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  //  padding-right: 8px;
  //  padding-left: 3px;

}

h4 {
  font-family: Baskerville, Georgia, serif;
  font-size: 3em;
  color: @paleBlue;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  font-style: italic;
  border-bottom: 1px solid @paleBlue;
}

h2.workHeader {
  background-image: url("../img/anchor.png");
  background-repeat: no-repeat;
  background-position: right center;
}


p {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 1.9em;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 2px black;
  //  border: 1px solid @paleBlue;
}

.canvasWrapper {
  width:90%;
  margin-left: auto;
  margin-right: auto;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  padding-bottom: 25px;
}

.portfolioPic{
  border: 1px solid white;
  width: 100%;
}





h5 {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 18pt;
}

.portfolioText {
  //  font-family:  Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  padding: none;


  p {
    padding: none;
    margin-left: 0px;
  }

  h4 {
    font-style: normal;
    text-align: left;
    font-size: 2em;
    text-decoration: none;

    text-transform: uppercase;
//    border: 0;
  }

}

.portfolioRow {
  padding-bottom: 20px;
  opacity: 0;
}



video {
  border: none;
  width:80%;
  margin: 0 auto;
}

#vidModal {
  border: none;
  max-width: 750px;
  margin: 0 auto;
  background-color: black;
}

#myModalLabel {
  font-family: Baskerville, Georgia, serif;
  color: white;
}

.fordPromo {
  background-image: url('../img/portfolio/Ford-Logo-Large.jpg');
  //  background-position: top center;
}

.calvinPromo {
  background-image: url('../img/portfolio/calvin_logo.jpg');

}

.plazaPromo {
  background-image: url('../img/portfolio/plaza-hotel.jpg');

}

.jinxmagPromo {

  background-image: url('../img/portfolio/jinxmagazine.png');
  background-position: top center;


}

@media screen and (max-width: 62em) {

  body {
    background-color: black; // set background to black for mobile to hide margin
  }

  .container {
    background-image: url('../img/container_bg_mobile.jpg' );

  }

  #logoImage {
    width: 310px;
  }

  .canvasWrapper {
    width: 310px;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    padding-bottom: 25px;
  }


  h1 {
    font-size:3.5em;
  }

  p {
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0.5);
  }

  h4 {
    font-size: 1.9em;
  }

  .portfolioText {
    font-size: 1.7em ;
  }
}
